data
data-scenery*
__pycache__
checkpoints
logs
results
.venv

# latex
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.flx
*.fdb_latexmk
*.synctex.gz
*.fls
*.log
*.dvi
*.ps
*.eps
*.pyg
*.sty
*.pdf
data
*.pkl